<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>auth</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--
    <style media="screen">
      nav li {
        display: inline;
      }
      a {
        text-decoration: none;
      }
      nav form {
        display: inline;
      }
    </style> -->



  </head>
  <body>
   <div class="container  center-block">


   <nav>

<!--         <li><a href="/users/signup">signup</a> | </li> -->
 <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <a href="/">home</a>        |
        <a href="/sessions/login">login</a>     |
        <a href="/users/signup">signup</a>  |
        <a href="/users/{{../user.id}}">profile</a>
          <form method="post" class="btn btn-sm btn-primary" action="/sessions?_method=DELETE">
            <input type="submit"class="btn btn-sm btn-primary" value="logout">
          </form>
</div>
  <h1>{{currentUser._id}}</h1>

    </nav>
<div class="row">
          <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <div class="clear"><h1 class="gallery-title">Welcome {{user.email}} to Rank That Project </h1>
          </div> </div>
    {{{body}}}
     </section>
  </body>
</html>

