Projects List

<form action="/users/{{user.id}}/projects/{{projects.id}}?_method=PUT" methond="POST">

<input type="text" name="projectname" value="{{projects.projectname"/>
<input type="text" name="url" value="{{projects.url"/>
<input type="submit" value="Update Ranked Project">
</form>
