Projects List

<form action="/users/{{user.id}}/projects/{{projects.id}" methond="POST">

<input type="text" name="projectname" value="{{projects.projectname"/>
<input type="text" name="url" value="{{projects.url"/>
<input type="submit" value="Add New Ranked Project">
</form>
