Add a New Project

<form action="/users/{{user.id}}/projects" method="POST">
  Project Name: <input type="text" name="projectName" />
  Url: <input type="text" name="url" />
  Image Url:<input type="text" name="imgUrl" />
  <input type="submit" value="Add A New Ranked Project">
</form>
