{{#if err}}
  <p>{{err}}</p>
{{/if}}




<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Log in to Rank That Project</h4>


                      <form action="/sessions/login" method="post">
                        <div>
                          <!-- <label for="email">email</label> -->
                          <input type="text" name="email" class="form-control input-sm chat-input" placeholder="email">
                        </div>
</br>
                        <div>
                          <!-- <label for="password">password</label> -->
                          <input type="text" name="password" class="form-control input-sm chat-input" placeholder="password">
                        </div>

                      </br>
                      <div>
                      <span class="group-btn">
                          <!-- <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a> -->
                      <input type="submit" class="btn btn-primary btn-md" value="Submit" >
                      </span>

                      </form>
                <!-- <input type="text" id="email" class="form-control input-sm chat-input" placeholder="email" />
                </br>
                <input type="text" id="password" class="form-control input-sm chat-input" placeholder="password" />
                </br>
                      <div class="wrapper">
                      <span class="group-btn">
                          <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
                      </span> -->
                      </div>
            </div>

        </div>
    </div>
</div>
